body {
	margin: 0 auto;
	padding: 0 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #555;
}
table {
	border: 0;
	padding: 0;
	margin: 0 0 20px 0;
	border-collapse: collapse;
}
th {
	padding: 5px; /* NOTE: th padding must be set explicitly in order to support IE */
	text-align: left;
	text-transform: uppercase;
	line-height: 2em;
	color: #FFF;
	background-color: #555;
}
.amount {
	text-align: right;
	padding-right: 10px;
}
tbody td {
	padding: 5px 5px 20px 5px;
	line-height: 18px;
	border-top: 1px solid #E0E0E0;
}
tbody tr:nth-child(2n) {
	background-color: #F7F7F7;
}
tbody tr:hover {
	background-color: #EEEEEE;
}
.stock th {
	background-color: #FC6E0F;
	text-transform: none;
	text-align: center;
	padding:10px;
}
.stock th, .stock td {
	text-align: center;
	padding: 5px 20px;
}
.stock td:first-child, .stock th:first-child {
	text-align: left;
	font-weight: normal;
}
.nasdaq th {
	text-transform: none;
	font-weight: bold;
	text-align: center
}
.nasdaq th, .nasdaq td {
	padding: 6px 5px;
	font-size: 8pt;
}
.nasdaq td {
	text-align: right;
}
.nasdaq td:first-child, .nasdaq th:first-child {
	text-align: left;
}
.uci th, .uci td {
	font: 10px verdana;
}
.uci th {
	color: #7D7D7D;
	background-color: #E5E5E5;
	text-transform: none;
	font-weight: bold;
}
