table.tablesorter thead tr .header
{
	background-image: url(../img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	padding-right: 20px;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp
{
	background-image: url(../img/asc.gif);
}
table.tablesorter thead tr .headerSortDown
{
	background-image: url(../img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp
{
	color: #000;
}
