body {
	margin: 0 auto;
	padding: 0 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #555;
}

table {
	border: 0;
	padding: 0;
	margin: 0 0 20px 0;
	border-collapse: collapse;
}

th {
	padding: 5px; /* NOTE: th padding must be set explicitly in order to support IE */
	text-align: left;
	text-transform: uppercase;
	line-height: 2em;
	color: #FFF;
	background-color: #555;
}

tbody td {
	padding: 5px 5px 20px 5px;
	line-height: 18px;
	border-top: 1px solid #E0E0E0;
}

tbody tr:nth-child(2n) {
	background-color: #F7F7F7;
	opacity: 0.8;
}

tbody tr:hover {
	background-color: #EEEEEE;
}

.amount {
	text-align: right;
	padding-right: 10px;
}

.stock th {
	background-color: rgb(252, 110, 15);
	background-color: rgba(252, 110, 15, 0.8);
	text-transform: none;
	text-align: center;
	padding: 10px;
}

.stock th, .stock td {
	text-align: center;
	padding: 5px 20px;
}

.stock td:first-child, .stock th:first-child {
	text-align: left;
	font-weight: normal;
}

.nasdaq th {
	text-transform: none;
	font-weight: bold;
	text-align: center;
}

.nasdaq th, .nasdaq td {
	padding: 6px 5px;
	font-size: 8pt;
}

.nasdaq td {
	text-align: right;
}

.nasdaq td:first-child, .nasdaq th:first-child {
	text-align: left;
}

.uci th, .uci td {
	font: 10px verdana;
}

.uci th {
	color: #7D7D7D;
	background-color: #E5E5E5;
	text-transform: none;
	font-weight: bold;
}

.uci .age {
	text-align: center;
}

.uci .result {
	text-align: right;
}

body.fixed-header,
body.scrollable-block {
	padding: 70px 20px;
}

body.scrollable-block {
	min-width: 1000px;
}

body.fixed-header .header,
body.scrollable-block .header {
	position: fixed;
	top: 0;
	color: #FFC234;
	width: 100%;
	z-index: 1000;
	margin: 0 -20px;
	padding: 0 20px;
	border-bottom: 10px solid red;
}

body.fixed-header .header {
	background: #080808;
}

body.scrollable-block .header {
	background: #606;
}

body.scrollable-block table {
	width: 90%;
}

.scrollable-area {
	margin: 5em auto 0 auto;
	width: 80%;
	height: 30em;
	border: 2px solid #FFC234;
	padding: 0 20px 20px 20px;
	overflow: auto;
	-webkit-box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.9);
	-moz-box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.9);
	box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.9);
}